@import "tailwindcss";


html, body, #root {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: #f6f8fb; 
  color: #0f172a;             
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}
